<footer class="site-footer">

  <div class="wrapper">

    <div class="row between-xs">
      <div class="col-sm-5 col-xs-12 first-sm center-xs start-sm">
        <ul class="contact-list">
          <li>
            <a class="page-link" href="{{ "/" | relative_url }}">Work</a>
          </li>
          <li>
            <a class="page-link" href="https://medium.com/design-haikus" target="_blank">Writing</a>
          </li>
          <li>
            <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-2 col-xs-12 first-xs center-xs">
        {% assign logo = site.data.logo.first %}
        <a class="site-title" href="{{ "/" | relative_url }}" title="{{ site.title | escape }}">{% include logo.svg width = logo.smWidth height = logo.smHeight %}</a>
      </div>

      <div class="col-sm-5 col-xs-12 last-xs center-xs end-sm">
        <ul class="social-media-list">
          <li>
            <a href="https://twitter.com/ghanbak">Twitter</a>
          </li>
          <li>
            <a href="https://instagram.com/ghanbak">Instagram</a>
          </li>
          <li>
            <a href="https://dribbble.com/ghanbak">Dribbble</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27532689-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-27532689-1");
</script> -->
