/**
 * About Page
 */
.about-page {
  .about-header {
    img {
      padding-top: 70px;
    }

    ol {
      li,
      p {
        margin-bottom: 12px;
      }
    }
  }

  .page-content,
  .experience {
    padding-top: 80px;
  }

  .experience {
    .experience-card {
      display: flex;
      align-items: flex-end;
      width: calc(100% - 40px);
      height: 200px;
      padding: 20px;
      background-color: $grey-light;
      border: 1px solid $grey;
      border-radius: 24px;

      .experience-info {
        width: 100%;

        img {
          margin-bottom: 12px;
        }

        p {
          margin-bottom: 0;
        }

        strong {
          display: block;
        }
      }
    }
  }

  .hobbies {
    p,
    ul {
      color: #929ca5;
    }
  }
}
