---
layout: default
---

<div class="home">

  <div class="row">
    <div class="column">
      <h3>
        Creating User Adoption for an Invisible App
      </h3>
      <p>
        When I started at Robin, our mobile app did one thing well — automatically book a room when you walk in. The problem was not many people used the app because it did things behind the scenes.
      </p>
      <p>
        <a href="{{ "/robin-mobile" | relative }}">Seeing is believing ›</a>
      </p>
    </div>
    <div class="column">
      <img src="/assets/home-iphone.png" />
    </div>
  </div>
</div>
