<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <div class="row between-xs middle-xs case-study">
            <div class="col-sm-6 col-xs-12 last-xs first-sm">
              <h3>
                Creating User Adoption for an Invisible App
              </h3>
              <p>
                When I started at Robin, our mobile app did one thing well — automatically book a room when you walk in. The problem was not many people used the app because it did things behind the scenes.
              </p>
              <p>
                <a href="{{ "/robin-mobile" | relative }}">Seeing is believing ›</a>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <img src="/assets/home-iphone.png" />
            </div>
          </div>
          <div class="row between-xs middle-xs case-study">
            <div class="col-sm-5 col-xs-12">
              <img src="/assets/home-ipad.png" />
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-xs-12">
              <h3>
                Digital Signage for Meeting Rooms
              </h3>
              <p>
                While at Robin, we asked how we might clear up empty schedules so people can book empty spaces. We made a room display to help schedule spaces and claim a room.
              </p>
              <p>
                <a href="{{ "/robin-rooms" | relative }}">Avoid awkward moments ›</a>
              </p>
            </div>
          </div>
          <div class="row between-xs middle-xs case-study">
            <div class="col-sm-6 col-xs-12 last-xs first-sm">
              <h3>
                Branding a Music Genre
              </h3>
              <p>
                Boston Art Song’s mission was to bring art song to Boston by promoting collaboration between pianist and singer through the celebration of language and culture and building of community. They needed a platform and brand to do so.
              </p>
              <p>
                <a href="{{ "/boston-art-song" | relative }}">Play it loud ›</a>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-12">
              <img src="/assets/home-cards.png" />
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include side-projects.html %}

    {% include footer.html %}

  </body>

</html>
