<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="robin-mobile">

    {% include header.html %}

    {% assign robinMobile = site.data.robin-mobile %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-8 col-xs-12 last-xs first-sm">
            <h2>
              {{ robinMobile.title }}
            </h2>
            <h4>{{ robinMobile.company }}</h4>
            <p>{{ robinMobile.situation }}</p>
          </div>
          <div class="col-sm-4 col-xs-12">
            <img src="/assets/mobile-home.png" />
          </div>
        </div>
        <div class="row between-xs middle-xs bluetooth case-study">
          <div class="col-sm-4 col-xs-12 first-sm bluetooth-img">
            <div class="bt-beacon">
              <img src="/assets/mobile-beacon.png" />
            </div>
            <div class="beacon-phone">
              <img src="/assets/mobile-bluetooth.png" />
            </div>
          </div>
          <div class="col-sm-7 col-sm-offset-1 col-xs-12 last-xs ">
            <p>{{ robinMobile.task }}</p>
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            {% assign paragraphs = site.data.robin-mobile.action %}
            {% for paragraph in paragraphs limit:1 %}
              <p>{{ paragraph.paragraph }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-4 col-xs-6 first-sm">
            <img src="/assets/people-rough.png" />
          </div>
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/account-rough.png" />
          </div>
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/spaces-rough.png" />
          </div>
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/filters-rough.png" />
          </div>
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/notifs-rough.png" />
          </div>
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/composer-rough.png" />
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            {% assign paragraphs = site.data.robin-mobile.action %}
            {% for paragraph in paragraphs offset:1 limit:1 %}
              <p>{{ paragraph.paragraph }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/space-detail.png" />
          </div>
          <div class="col-sm-4 col-xs-6">
            <img src="/assets/search-detail.png" />
          </div>
          <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
            <img src="/assets/space-detail-alt.png" />
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            {% assign paragraphs = site.data.robin-mobile.action %}
            {% for paragraph in paragraphs offset:2 limit:1 %}
              <p>{{ paragraph.paragraph }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-3 col-xs-6">
            <img src="/assets/search-filters.png" />
          </div>
          <div class="col-sm-3 col-xs-6">
            <img src="/assets/office-home.png" />
          </div>
          <div class="col-sm-3 col-xs-6">
            <img src="/assets/search-results.png" />
          </div>
          <div class="col-sm-3 col-xs-6">
            <img src="/assets/space-view.png" />
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-7 col-xs-12">
            {% assign paragraphs = site.data.robin-mobile.action %}
            {% for paragraph in paragraphs offset:3 %}
              <p>{{ paragraph.paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-sm-5 col-xs-12">
            <img src="/assets/mobile-v2-home.png" />
          </div>
        </div>
        <div class="row between-xs middle-xs case-study">
          <div class="col-sm-8 col-xs-12 first-xs underlay-100 underlay-no-mobile">
            {% assign paragraphs = site.data.robin-mobile.result %}
            {% for paragraph in paragraphs %}
              <p>{{ paragraph.paragraph }}</p>
            {% endfor %}
          </div>
          <div class="col-xs-12">
            <img src="/assets/mobile-aggregate.png" />
          </div>
        </div>
      </div>

      {% include case-study-info.html info = robinMobile %}

    </main>

    {% include footer.html %}

  </body>

</html>
